*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
header{
    background-color: rgb(21, 3, 112);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.account{
    width: 30px;
    border-radius: 100%;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: bottom;
}
.name{
    font-size: 25px;
    margin-left: 30px;
}
.nav-bar{
    margin-top: 5px;
    list-style: none;
    display: flex;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.nav-bar ul li{
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
}
.nav-bar ul li a{
    padding: 15px;
}
.nav-bar a:link{
    text-decoration: none;
    color: white;
}
.nav-bar a:visited{
    text-decoration: none;
    color: white;
}
.nav-bar ul li a:hover{
    text-decoration: none;
    color: rgb(188, 186, 186);
    background: linear-gradient(to top, rgb(19, 3, 99) 1%, rgb(21, 3, 112));
    border-radius: 10px;
}
.nav-bar a:active{
    color: white;
}
/* Body */
body{
    background-color: rgb(240, 240, 240);

}
.container{
    background-color: rgb(240, 240, 240);
    height: auto;
    width: 100%;
    height: 100%;
}
.box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 10% 0% 10%;
    gap: 30px;
}
.boxes{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.box1 h2{
    padding: 5%;
    font-size: 30px;
}
.box2{
    padding-top: 20px;
}
.box2 h2{
    padding-bottom: 15px;
    font-size: 30px;
    padding-left: 5%;
}
.Map{
    padding-top: 25px;
}
.box2 div{
    padding-left: 6%;
    font-size: 17px;
    padding-bottom: 20px;
}
form{
    padding-left: 30px;
}
#name{
    margin-top: 10px;
    width: 95%;
    height: 30px;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 5px;
}
#Email{
    margin-top: 10px;
    width: 95%;
    height: 30px;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 5px;
}
#subject{
    margin-top: 10px;
    width: 95%;
    height: 30px;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 5px;
}
#message{
    margin-top: 10px;
    width: 95%;
    height: 200px;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 5px;
    resize: none;
}
#message ::placeholder{
    margin-left: 100px;
}
button{
    margin-bottom: 20px;
    width: 20%;
    height: 30px;
    background-color: rgb(21, 3, 112);
    color: white;
    border: 0px solid black;
    border-radius: 3px;
    cursor: pointer;
}
/* Footer */
footer{
    background-color: rgb(27, 7, 124);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    margin-top: 18vh;
}
.cont2{
    display: flex;
    justify-content: space-between;
}
.port-name{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
}
.about{
    margin: 30px;
    color: rgb(189, 187, 187);
}
.web-links ul li{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
}
.web-links ul li a{
    color: white;
    text-decoration: none;
    margin-top: 5px;
    list-style: none;
    display: flex;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.web-links ul li a:hover{
    text-decoration: underline;
}
.sMedia img{
    width: 25px;
    margin: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.copyright{
    text-align: center;
    background-color: rgb(21, 3, 112);
    padding: 20px;
}